@import url('<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Poppins:wght@400;500;700;900&family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">');
:root{
    --PlayFair: 'Playfair Display', serif;
    --QuickSand: 'Quicksand', sans-serif;
    --PPopins: 'Poppins', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: var(--QuickSand);
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    display: block;
    width: 100%;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
/* Header styling start */
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("../image/banner-bg.jpg") center/cover no-repeat fixed;
}
.navbar{
    background: rgba(0,0,0, 0.6);
    padding: 1.2rem;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navigation .logo a{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    font-family: var(--PlayFair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0; 
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--PPopins);
    letter-spacing: 3px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    transition: opacity 0.2s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 9%;
}
.banner-title{
    font-size: 5rem;
    font-family: var(--PlayFair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--PlayFair);
    color: var(--exDark);
}
.banner p{
    padding: 0.5rem 0 1.5rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--PPopins);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.search-input{
    font-family: var(--PPopins);
    font-size: 1.2rem;
    outline: none;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.2rem;
    color: var(--dark);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
/* End of header styling */
/* Start design styling */
.design{
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--PlayFair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.design-item{
    cursor: pointer;
    margin: 0;
}
.design-img{
    position: relative;
    overflow: hidden;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.design-img img{
    transition: all .5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--dark);
    padding: 0.25rem 1rem;
    color: #fff;
    z-index: 1;
}
.design-img span:last-of-type{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.design-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--PlayFair);
}
/* End of design styling */

/* Start of blog styling */
.blog{
    background-color: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom:10px;
    right: 10px;
    background-color: var(--dark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    font-family: var(--PlayFair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-family: var(--PPopins);
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--dark);
    padding: 0.55rem 1.2rem;
    transition: all .5s ease;
}
.blog-text a:hover{
    background: var(--exDark);
}
/* End of blog styling */
/* Start of about styling */
.about{
    padding: 4.5rem 0;
}
.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: center;
}
.about-text{
    margin: 2rem 0;

}
.about-text p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: .8;
}
/* End of about styling */
/* Start of footer styling*/
.footer{
    background-color: var(--dark);
    text-align: center;
    color: #fff;
    padding: 2rem 0;
}
.social-link{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-link a{
    border: 2px solid #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 .3rem;
    transition: all .5s ease;
}
.social-link a:hover{
    background-color: #fff;
    color: var(--dark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--PlayFair);
    letter-spacing: 2px;
}
/* End of footer styling*/
.navbar-nav i{
    display: none;
}
@media only screen and (max-width: 800px) {
    .navbar-nav a{
        display: none;
    }
    .navbar-nav i{
        display: block;
    }
    .banner-title{
        font-size: 3.5rem;
        padding-bottom: 1.5rem;
    }
    .design-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-content{
        grid-template-columns: 100%;
    }
    .about-content{
        grid-template-columns: 100%;
    }
}